@model MomoSwitchPortal.Models.ViewModels.Rules.Switch.SwitchResponse
@{
    ViewData["Title"] = "Switch page";
    ViewData["RouterSetup"] = "active bg-gradient-warning";
}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-warning border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Switch Set-up</h6>
                    <a href="~/switchrule/create" class="text-decoration-none">
                        <button type="submit" class="btn btn-dark btn-sm me-3 my-0">+ Create</button>
                    </a>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="container pb-3 px-4">
                    <form action="~/switchrule" method="post">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <label for="Processor" class="form-label">Processor:</label>
                                <input type="text" value="@Model.Processor" class="form-control border p-2" placeholder="Processor" id="Processor" name="Processor">
                            </div>

                            <div class="col-md-3 align-self-end pt-4">
                                <button type="submit" class="btn btn-dark mt-2 ">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder ">Processor</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Transfer Url</th>                                
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Name Enquiry Url</th>                                
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Transaction Query Url</th>                                
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Is-Default</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder text-center  ps-2">Is-Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    if (Model.SwitchDetails.Count > 0)
                                    {
                                        foreach (var Item in Model.SwitchDetails)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0 opacity-8 px-3 ">@Item.Processor</p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0" title="@Item.TransferUrl">
                                                        @(string.IsNullOrWhiteSpace(Item.TransferUrl) ? "Unset" : "Set")
                                                    </p>
                                                </td>      
                                                
                                                <td>
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 " title="@Item.NameEnquiryUrl">
                                                    @(string.IsNullOrWhiteSpace(Item.NameEnquiryUrl) ? "Unset" : "Set")</p>
                                                </td>
                                                
                                                <td>
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 " title="@Item.TranQueryUrl">
                                                    @(string.IsNullOrWhiteSpace(Item.TranQueryUrl) ? "Unset" : "Set")</p>
                                                </td>                                             
                                                <td class="align-middle text-center">
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 ">@Item.IsDefault</p>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 ">@Item.IsActive</p>
                                                </td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-link text-secondary mb-0 " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="material-icons text-md">more_vert</i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                                            <li><a class="dropdown-item" href="~/switchrule/edit/@Item.Id">Edit</a></li>                                                                                                            
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }                              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.confirmation').on('click', function () {
            return confirm('Are you sure you want to delete this item?');
        });

    </script>
}