@model MomoSwitchPortal.Models.ViewModels.User.UserListViewModel

@{
    ViewData["Title"] = "AmountBased Rule page";
    ViewData["CreateUser"] = "active bg-gradient-warning";
}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-warning border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">User List</h6>
                    <a href="/users/createuser" class="text-decoration-none">
                        <button class="btn btn-dark btn-sm me-3 my-0">+  Create User</button>
                    </a>
                </div>

            </div>
           
            <div class="card-body px-0 pb-2">
                <div class="container pb-3" style="margin-left: 20px;">
                   
                    @if (Model != null)
                    {
                        <form action="~/users" method="post">
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-3">
                                    <label for="Username" class="form-label">Username:</label>
                                    <input type="text" class="form-control border p-2" placeholder="Username" id="Username" value="@Model.UserFilterRequest?.Username" name="Username">
                                </div>

                                <div class="col-md-3 align-self-end pt-4">
                                    <button type="submit" class="btn btn-dark mt-2 ">Search</button>
                                </div>
                            </div>
                        </form>
                    }
                  
                </div>
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder ">Username</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder ">Last Name</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder ">First Name</th>                                
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">User Type</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">is-Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    if (Model.UserList.Count > 0)
                                    {
                                        foreach (var Item in Model.UserList)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0 opacity-8 px-3 ">@Item.Username</p>
                                                </td>
                                                
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0 opacity-8 px-3 ">@Item.LastName</p>
                                                </td>
                                                
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0 opacity-8 px-3 ">@Item.FirstName</p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 ">@Item.Role</p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold opacity-8  mb-0 ">@Item.IsActive</p>
                                                </td>
                                                <td>
                                                    <a href="~/edituser/@Item.Id">
                                                        <i class="material-icons text-md text-secondary" data-bs-toggle="tooltip" title="Edit">edit</i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }                                
                        </tbody>
                    </table>
                      
                </div>
                <div class="container">

                    @{
                        if (Model.PaginationMetaData.CurrentPage < Model.PaginationMetaData.EndPage)
                        {
                            <p class="pagination justify-content-end"> Page @Model.PaginationMetaData.CurrentPage of @Model.PaginationMetaData.TotalPages</p>
                        }


                        <ul class="pagination justify-content-end">


                            @if (Model.PaginationMetaData.TotalCount > 0)
                            {



                                if (Model.PaginationMetaData.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link " asp-controller="Users" asp-action="Index" asp-route-page=1>&#10094; &#10094;  </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link " asp-controller="Users" asp-action="Index" asp-route-page="@(Model.PaginationMetaData.CurrentPage-1)">  &#10094;</a>
                                    </li>

                                }

                                @for (var i = Model.PaginationMetaData.StartPage; i <= Model.PaginationMetaData.EndPage; i++)
                                {
                                    <li class="page-item @(i== Model.PaginationMetaData.CurrentPage? "active":"")">
                                        <a class="page-link" asp-controller="Users" action="Index" asp-route-page=@i> @i </a>
                                    </li>
                                }

                                if (Model.PaginationMetaData.CurrentPage < Model.PaginationMetaData.EndPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link " asp-controller="Users" asp-action="Index" asp-route-page="@(Model.PaginationMetaData.CurrentPage+1)">  &#10095;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link " asp-controller="Users" asp-action="Index" asp-route-page=@Model.PaginationMetaData.EndPage>&#10095; &#10095; </a>
                                    </li>
                                }

                            }

                        </ul>
                    }
                </div>
            </div>           
        </div>

    </div>
</div>

