@model MomoSwitchPortal.Models.ViewModels.Account.ForgotPasswordViewModel

<form action="~/account/resetpassword" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.Key)

    <div>
        <div class="flex flex-col input-wrap relative lg:mb-5 md:mb-14 sm:mb-12 mb-12" id="username">
            @Html.TextBoxFor(M => M.Username, new
                {
                    @class = "brd h-[52px] mt-2 w-[100%] bg-[rgba(0,0,0,0.05)] focus:outline-0 focus:ring-0 relative z-0 rounded-[5px] px-5 border-0 placeholder:text-[rgba(0,0,0,0.5)]",
                    placeholder = "example@disbutePortal.com / example",
                    @readonly = "readonly"


                })

            <label for="Username" class="font-normal form-label ease-in-out duration-300 px-1 whitespace-nowrap text-[14px]">Username</label>
            @Html.ValidationMessageFor(M => M.Username, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="flex flex-col input-wrap  lg:mb-7 md:mb-14 sm:mb-6 mb-6">
        <label for="newPassword" class="text-[14px]">New Password</label>
        @Html.PasswordFor(M => M.Password, new
            {
                @class = "brd h-[52px] mt-2 w-[100%] bg-[rgba(0,0,0,0.05)] focus:outline-0 focus:ring-0 relative z-0 rounded-[5px] px-5 border-0 placeholder:text-[rgba(0,0,0,0.5)]",
                placeholder = "Enter New Password"
            })
        @Html.ValidationMessageFor(M => M.Password, "", new { @class = "text-danger" })

    </div>


    <div class="flex flex-col input-wrap  lg:mb-7 md:mb-14 sm:mb-6 mb-6">
        <label for="ConfirmPassword" class="text-[14px]">Confirm New Password</label>
        @Html.PasswordFor(M => M.ConfirmPassword, new
            {
                @class = "brd h-[52px] mt-2 w-[100%] bg-[rgba(0,0,0,0.05)] focus:outline-0 focus:ring-0 relative z-0 rounded-[5px] px-5 border-0 placeholder:text-[rgba(0,0,0,0.5)]",
                placeholder = "Confirm New Password"
            })
        @Html.ValidationMessageFor(M => M.ConfirmPassword, "", new { @class = "text-danger" })

    </div>


    <button type="submit" class="flex items-center justify-center bil-btn-gradient text-base font-normal grad3 w-full h-[52px] first-letter text-[#F0F0F0] rounded-[5px]">Submit</button>
</form>